.bg-red {
    background-color: rgb(193, 0, 0);
}

.tweet-button {
    padding: 10px 25px;
    margin: 0px 25px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: blue;
}

.tweet-button:active {
    box-shadow: 5px 10px 8px #888888;
}


.c-white {
    color: white;
}

.b-n {
    border: none;
}

.b-r5 {
    border-radius: 5px;
}

.b-r10 {
    border-radius: 10px;
}

.p-h-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.p-v-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.resubs-button {
    background-color: white;
    color: rgb(193, 0, 0);
    border: none;
    border-radius: 10px;
    padding: 10px 15px;  
}

.resubs-button:hover {
    background-color: rgb(193, 0, 0);
    color: white;
}